---
// IMPORT ASTRO ATOMS
import HeadingTwoCenter from "../../../atoms/heading/TwoCenter.astro"

// IMPORT ASTRO COMPONENTS
import ProjectItem from "./ProjectItem.astro"

const data = Array(4).fill({

    src: "/Loadstar_featured.png",
    title: "Loadstar Product Handling VR Training",
    category: "AR / VR"

})
---
<section class="pt-72 space-y-8 py-20">
    <HeadingTwoCenter>Featured Projects</HeadingTwoCenter>
    <div class="grid grid-cols-4">
        {

            data.map( ( value ) => {

                return(
                    <ProjectItem
                        src={ value.src }
                        alt={ value.alt }
                        title={ value.title }
                        category={ value.category }
                    />
                )

            })

        }
    </div>
</section>
