---
// IMPORT ASTRO ATOMS
import HeadingTwoCenter from "../../../atoms/heading/TwoCenter.astro"

// IMPORT ASTRO COMPONENTS
import ProjectItem from "./ProjectItem.astro"

const { data, projects } = Astro.props
---
<section class="pt-96 space-y-8">
    <HeadingTwoCenter>{ data.title }</HeadingTwoCenter>
    <div class="grid grid-cols-4 border-t-2 border-saritasa_primary">
        {

            projects.map( ( value ) => {

                return(
                    <ProjectItem
                        src={ value.cover }
                        alt={ value.title }
                        title={ value.title }
                        category={ value.category }
                    />
                )

            })

        }
    </div>
</section>
