---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

const {

    src,
    alt,
    title,
    category

} = Astro.props
---
<div class="relative group cursor-pointer">
    <div class="w-full aspect-square bg-zinc-200">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full"
        />
    </div>
    <div class="flex items-center justify-center w-full h-full absolute top-0">
        <div class="hidden group-hover:block space-y-6 h-full w-full p-10 relative z-10 group-hover:border group-hover:border-saritasa_primary">
            <p class="text-4xl text-white font-semibold font-avenir">{ title }</p>
            {

                category.map( ( value ) => {

                    return(
                        <p class="text-xl text-white font-semibold font-avenir">{ value }</p>
                    )

                })

            }
        </div>
    </div>
    <div class="hidden group-hover:block bg-cyan-300/10 w-full h-full absolute top-0"></div>
</div>
