---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/target-blank/index.astro"
import PictureContainLeft from "@/atoms/picture/contain/left/index.astro"

const {

    alternative_text,
    CDN,
    href,
    PROJECT,
    source,
    title

} = Astro.props

---
<div class="space-y-2">
    <div class="w-full h-10">
        <PictureContainLeft
            alternative_text={ alternative_text }
            CDN={ CDN }
            image_width="400"
            PROJECT={ PROJECT }
            source={ source }
        />
    </div>
    <Link href={ href } aria_label={ title }>
        <p class="font-avenir text-lg font-light hover:underline cursor-pointer">{ title }</p>
    </Link>
</div>
