---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import HighlightsCard from "@/components/home/clients/highlights/card/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<section class="absolute -bottom-48 w-full">
    <Container>
        <section class="flex justify-between bg-white rounded-2xl shadow px-24 py-10">
            {

                data.map( ( value ) => {

                    return(
                        <HighlightsCard
                            alternative_text={ value.title }
                            CDN={ CDN }
                            PROJECT={ PROJECT }
                            source={ value.cover }
                            statistics={ value.statistics }
                            title={ value.title }
                        />
                    )

                })

            }
        </section>
    </Container>
</section>
