---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import HighlightsCard from "./card/index.astro"

const { data } = Astro.props
---
<section class="absolute -bottom-44 w-full">
    <Container>
        <section class="flex justify-between bg-white rounded-2xl shadow px-24 py-10">
            {

                data.map( ( value ) => {

                    return(
                        <HighlightsCard
                            title={ value.title }
                            statistics={ value.statistics }
                            src={ value.cover }
                            alt={ value.title }
                        />
                    )

                })

            }
        </section>
    </Container>
</section>
