---

// IMPORTS ASTRO ATOMS
import PictureContainLeft from "@/atoms/picture/contain/left/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    CDN,
    image_width,
    PROJECT,
    source

} = Astro.props
---
<div class="w-full h-8 md:h-12">
    <PictureContainLeft
        alternative_text={ alternative_text }
        CDN={ CDN }
        image_width={ image_width }
        PROJECT={ PROJECT }
        source={ source }
    />
</div>
