---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Service from "@/components/home/services/service/index.astro"
import OurServices from "@/components/home/services/our-services/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT,
    services

} = Astro.props

---
<section class="hidden absolute md:-bottom-96 2xl:-bottom-[480px] md:flex justify-center w-full">
    <Container>
        <section class="grid md:grid-cols-3 gap-8">
            <section>
                <OurServices data={ data } />
            </section>
            <section class="md:col-span-2">
                <div class="grid md:grid-cols-2 md:gap-10 p-4 md:p-12 bg-white rounded-3xl shadow-xl">
                    {

                        services.map( ( value ) => {

                            return(
                                <Service
                                    alternative_text={ value.name }
                                    CDN={ CDN }
                                    href={ value.link }
                                    PROJECT={ PROJECT }
                                    source={ value.cover }
                                    title={ value.name }
                                />
                            )

                        })

                    }
                </div>
            </section>
        </section>
    </Container>
</section>
