---
// IMPORT ASTRO ATOMS
import HeadingTwoWhite from "../../../atoms/heading/TwoWhite.astro"
import ButtonWhite from "../../../atoms/button/White.astro"
---
<div class="bg-saritasa_teal_blue p-10 rounded-3xl shadow-xl space-y-4">
    <div class="space-y-6">
        <HeadingTwoWhite>Our Services</HeadingTwoWhite>
        <p class="text-2xl font-avenir text-white">We leverage advanced technology to deliver solutions that exceed expectations.</p>
    </div>
    <ButtonWhite>Learn More</ButtonWhite>
</div>
