---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"
import ServiceItem from "./ServiceItem.astro"
import OurServices from "./OurServices.astro"

const data = Array(8).fill({

    src: "/mobile-icon.svg",
    alt: "",
    href: "",
    title: "Mobile Development"

})
---
<section class="absolute -bottom-80 flex justify-center w-full">
    <Container>
        <section class="grid grid-cols-3 gap-6">
            <section>
                <OurServices />
            </section>
            <section class="col-span-2">
                <div class="grid grid-cols-2 gap-10 p-10 bg-white rounded-3xl shadow-xl">
                    {

                        data.map( ( value ) => {

                            return(
                                <ServiceItem
                                    src={ value.src }
                                    alt={ value.alt }
                                    href={ value.href }
                                    title={ value.title }
                                />
                            )

                        })

                    }
                </div>
            </section>
        </section>
    </Container>
</section>
