---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"
import ServiceItem from "./ServiceItem.astro"
import OurServices from "./OurServices.astro"

const { data, services } = Astro.props
---
<section class="absolute -bottom-80 2xl:-bottom-96 flex justify-center w-full">
    <Container>
        <section class="grid grid-cols-3 gap-8">
            <section>
                <OurServices data={ data } />
            </section>
            <section class="col-span-2">
                <div class="grid grid-cols-2 gap-10 p-12 bg-white rounded-3xl shadow-xl">
                    {

                        services.map( ( value ) => {

                            return(
                                <ServiceItem
                                    src={ value.cover }
                                    alt={ value.name }
                                    href=""
                                    title={ value.name }
                                />
                            )

                        })

                    }
                </div>
            </section>
        </section>
    </Container>
</section>
