---

// IMPORTS ASTRO ATOMS
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    source

} = Astro.props

---
<div class="border rounded-full p-2">
    <div class="w-6 aspect-square">
        <PictureInternalContain
            alternative_text={ alternative_text }
            source={ source }
        />
    </div>
</div>
