---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// GET ASTRO PROPS
const {

    alterntive_text,
    aria_label,
    href,
    source,
    title

} = Astro.props

---
<div class="flex gap-4 items-center">
    <div class="w-6 aspect-square">
        <PictureInternalContain
            alterntive_text={ alterntive_text }
            source={ source }
        />
    </div>
    <Link href={ href } aria_label={ aria_label }>
        <p class="text-white text-xs font-avenir">{ title }</p>
    </Link>
</div>
