---
const {

    src,
    alt,
    text,
    href

} = Astro.props
---
<a href={ href }>
    <div class="flex flex-col gap-2 items-center">
        <div class="w-8 aspect-square">
            <img
                src={ src }
                alt={ alt }
                class="w-8 aspect-square"
            />
        </div>
        <p class="font-avenir font-semibold text-saritasa_primary text-xs uppercase">{ text }</p>
        </a>
    </div>
</a>
