---
const runtime = Astro.locals.runtime
const env = runtime.env.ENVIRONMENT

// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT JSX COMPONENTS
import MobileHeader from "./MobileHeader"

// IMPORT ASTRO COMPONENTS
import HeaderIcon from "./HeaderIcon.astro"

// IMPORT HEADER COLLECTION
import { getCollection } from "astro:content"

let header_data = await getCollection("header")
header_data = header_data.sort((a, b) => a.data.order - b.data.order)
---
<header class={`h-24 hidden md:flex items-center fixed top-0 z-50 w-full bg-white ${ env === "staging" ? "mt-10" : "" }`}>
    <Container>
        <nav class="flex items-center justify-between">
            <a href="/" aria-label="logo">
                <div class="w-56 aspect-[4/1]">
                    <img
                        src="/logo/saritasa-logo.svg"
                        alt="Saritasa logo"
                        class="w-56 aspect-[4/1]"
                    />
                </div>
            </a>
            <div class="flex gap-10 items-center">
                <ul class="flex md:gap-6">
                    {

                        header_data.map( ( item ) => {

                            return (
                                <li class="text-base text-slate-500 font-avenir font-semibold uppercase flex items-center gap-2 relative group cursor-pointer">
                                    <div class="w-0 bg-saritasa_primary group-hover:w-full h-[1px] transition-width duration-100 ease-in"></div>
                                    <a href={ "/" + item.data.slug } class="group-hover:text-saritasa_black" aria-label={"explore " + item.data.title }>{ item.data.title }</a>
                                    {

                                        item.data.has_dropdown &&
                                        <div>
                                            <img
                                                src="/icons/arrow_down.svg"
                                                class="w-3 aspect-square"
                                                alt="dropdown menu icon"
                                            />
                                            <div class="hidden group-hover:block group-hover:flex-col absolute p-6 bg-white left-0 z-20 top-7 w-96 gap-2 shadow">
                                                <div class="grid grid-cols-2 gap-x-4">
                                                    {

                                                        item.data.items.map( ( sub_item, sub_item_index ) => {

                                                            return(
                                                                <div class="py-1">
                                                                    <a
                                                                        href={ "/" + item.data.slug + "/" + sub_item.slug }
                                                                        class="text-slate-700 hover:text-saritasa_black hover:underline"
                                                                        aria-label={ "explore" + sub_item.title }
                                                                    >
                                                                        <div class="text-sm font-light capitalize tracking-wide text-t font-avenir">{ sub_item.title }</div>
                                                                    </a>
                                                                </div>
                                                            )

                                                        })

                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </li>
                            )

                        })

                    }
                </ul>
                <div class="flex gap-6 items-center">
                    <HeaderIcon
                        src="/icons/orange_phone.svg"
                        alt=""
                        text="888.646.2688"
                        href="tel:8886462688"
                    />
                    <HeaderIcon
                        src="/icons/orange_project.svg"
                        alt=""
                        text="Scope My Project"
                        href=""
                    />
                </div>
            </div>
        </nav>
    </Container>
</header>
<MobileHeader client:load />
