---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import CeoMessage from "@/components/home/hero/ceo-message/index.jsx"

// IMPORTS ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<section class="bg-saritasa_dark_blue md:h-screen 2xl:h-[900px] pt-40 pb-20 md:pt-60 md:pb-80">
    <Container>
        <section class="grid md:grid-cols-2 gap-10">
            <section class="space-y-6">
                <HeadingOne>{ data.title }</HeadingOne>
                <p class="text-white text-lg md:text-2xl font-avenir">{ data.description }</p>
                <div class="flex flex-col md:flex-row gap-4 space-y-4 w-fit">
                    <PrimaryButton>{ data.button_one_text }</PrimaryButton>
                    <CeoMessage
                        button_text={ data.button_two_text }
                        client:load
                    />
                </div>
            </section>
            <section class="flex justify-center md:justify-end">
                <div class="w-72 md:w-[480px] aspect-square">
                    <PictureContain
                        alternative_text="number 1 development firm"
                        CDN={ CDN }
                        image_width="400"
                        PROJECT={ PROJECT }
                        source={ data.cover }
                    />
                </div>
            </section>
        </section>
    </Container>
</section>
