---

// IMPORTS ASTRO COMPONENTS
import ButtonWhite from "@/atoms/buttons/white/index.astro"
import HeadingTwoWhite from "@/atoms/headings/two/white/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props
---
<section class="h-60 md:h-[420px] md:pt-32 relative z-50">
    <div class="bg-no-repeat bg-cover bg-white z-10 w-full h-full absolute top-0 px-4 md:px-0 bg-center" style=`background-image: url(${ CDN + PROJECT + "/" + data.cover + "?quality=80&width=400" })`>
        <div class="relative flex flex-col gap-4 md:gap-8 items-center justify-end pb-8 md:pb-0 md:justify-center h-full md:pt-20">
            <HeadingTwoWhite>{ data.title }</HeadingTwoWhite>
            <div>
                <ButtonWhite>{ data.button_one_text }</ButtonWhite>
            </div>
        </div>
    </div>
</section>
