---

// IMPORTS ASTRO COMPONENTS
import Contact from "@/components/common/footer/contact/index.astro"
import Social from "@/components/common/footer/social/index.astro"

---
<section class="space-y-6 pt-4 md:pt-0">
    <Social />
    <Contact />
</section>
