---
const { href } = Astro.props
---
<div>
    <a href={ href }>
        <button class="h-12 px-16 flex items-center justify-center text-white bg-saritasa_primary rounded-full text-lg font-semibold font-avenir hover:shadow-2xl hover:-translate-y-1 duration-300">
            <slot/>
        </button>
    </a>
</div>
