---
const runtime = Astro.locals.runtime;
const env = runtime.env.ENVIRONMENT

// IMPORTS BENCHMARKING FROM MD
import { frontmatter as benchmarking } from "@/content/benchmarking/home.mdx"

// IMPORT LAYOUTS
import Layout from "@/layouts/Layout.astro"
import Container from "@/layouts/Container.astro"

// IMPORT COMPONENTS
import Footer from "@/components/common/footer/Footer.astro"
import Header from "@/components/common/header/Header.jsx"
import HeaderBanner from "@/components/home/HeaderBanner.astro"
import BenchmarkingJSX from "@/components/benchmarking"
---
<Layout
	title={ "Benchmarking" }
	description={ "Benchmarking" }
	image=""
>
    <HeaderBanner />
    <Header environment={ env } />
    <section class="py-40 bg-white">
        <Container>
            <BenchmarkingJSX
                client:load
                data={ benchmarking }
            />
        </Container>
    </section>
    <Footer />
</Layout>
