---
import { homeAPI } from "../api/home/index"

const runtime = Astro.locals.runtime;
const data = await homeAPI( runtime.env.ENVIRONMENT )

const { home_data, services, projects, highlights, industries, news, testimonials, meta_tags } = data

// IMPORT ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORT ASTRO COMPONENTS
import HeaderBanner from "../components/home/HeaderBanner.astro"
import Header from "../components/common/header/Header.astro"
import Hero from "../components/home/Hero.astro"
import Services from "../components/home/services/Services.astro"
import FeaturedProjects from "../components/home/projects/FeaturedProjects.astro"
import InTheNews from "../components/home/news/InTheNews.astro"
import Clients from "../components/home/clients/Clients.astro"
import Industries from "../components/home/industries/Industries.astro"
import ScopeMyProject from "../components/home/ScopeMyProject.astro"
import Footer from "../components/common/footer/Footer.astro"
---
<Layout
	title="Saritasa - Top Custom Development Company"
	description="Saritasa is a custom technology solutions company developing complex software systems. We build Web and Mobile Apps, CRM systems, VR experiences, and more."
	image=""
>
	<section class="md:h-screen md:max-h-screen">
		<HeaderBanner />
		<Header />
		<section class="relative">
			<Hero data={ home_data.hero } />
			<Services data={ home_data.services } services={ services }  />
		</section>
	</section>
	<FeaturedProjects data={ home_data.projects } projects={ projects } />
	<InTheNews data={ home_data.in_the_news } news={ news } />
	<Clients testimonials={ testimonials } clients={ home_data.clients } highlights={ highlights } />
	<Industries data={ home_data.industries_we_serve } industries={ industries } />
	<ScopeMyProject data={ home_data.scope_my_project } />
	<Footer />
</Layout>
