---
// IMPORT ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORT ASTRO COMPONENTS
import HeaderBanner from "../components/home/HeaderBanner.astro"
import Header from "../components/common/header/Header.astro"
import Hero from "../components/home/Hero.astro"
import Services from "../components/home/services/Services.astro"
import FeaturedProjects from "../components/home/projects/FeaturedProjects.astro"
import InTheNews from "../components/home/news/InTheNews.astro"
import Industries from "../components/home/industries/Industries.astro"
import ScopeMyProject from "../components/home/ScopeMyProject.astro"
---
<Layout
	title="Saritasa - Top Custom Development Company"
	description="Saritasa is a custom technology solutions company developing complex software systems. We build Web and Mobile Apps, CRM systems, VR experiences, and more."
	image=""
>
	<section>
		<!-- <HeaderBanner /> -->
		<Header />
		<Hero />
	</section>
	<Services />
	<FeaturedProjects />
	<InTheNews />
	<Industries />
	<ScopeMyProject />
</Layout>
