---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/layout/index.astro"

const runtime = Astro.locals.runtime
const env = runtime.env.ENVIRONMENT
---
{

    env === "staging" &&
    <section class="bg-black fixed top-0 w-full z-[100] h-10">
        <Container>
            <div class="flex items-center justify-center h-full">
                <p class="text-sm text-center text-white">This is staging environment created by <span class="underline underline-offset-4 font-semibold"><a href="https://blupp.co" target="_blank">Blupp Company</a></span> with some initial <span class="underline underline-offset-4 font-semibold"><a href="/benchmarking">benchmarking</a></span>. You can check the codebase on <span class="underline underline-offset-4 font-semibold"><a href="https://github.com/bluppco/saritasa" target="_blank">Github</a></span>.</p>
            </div>
        </Container>
    </section>

}
