---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import HeadingOne from "../../atoms/heading/One.astro"
import OrangeButton from "../../atoms/button/Orange.astro"
import Button from "../../atoms/button/Vanilla.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const { data } = Astro.props
---
<section class="bg-saritasa_dark_blue h-screen 2xl:h-[900px] py-60">
    <Container>
        <section class="grid grid-cols-2 gap-10">
            <section class="space-y-6">
                <HeadingOne>{ data.title }</HeadingOne>
                <p class="text-white text-2xl font-avenir">{ data.description }</p>
                <div class="flex gap-4">
                    <OrangeButton>{ data.button_one_text }</OrangeButton>
                    <Button>{ data.button_two_text }</Button>
                </div>
            </section>
            <section class="flex justify-end">
                <div class="w-[480px] aspect-square">
                    <img
                        src={ CDN_LINK + data.cover + "?quality=" + IMAGE_QUALITY }
                        alt=""
                        class="w-full h-full object-contain"
                    />
                </div>
            </section>
        </section>
    </Container>
</section>
