---
// IMPORT ASTRO COMPONENTS
import HeadingTwoWhite from "../../atoms/heading/TwoWhite.astro"
import ButtonWhite from "../../atoms/button/White.astro"
---
<section class="h-[420px] flex flex-col gap-8 items-center justify-center pt-32" style=`background-image: url(${ "/about-saritasa.webp" })`>
    <HeadingTwoWhite>Ready to start something great?</HeadingTwoWhite>
    <ButtonWhite>Scope My Project</ButtonWhite>
</section>
