---
// IMPORTS ASTRO COMPONENTS
import ContactInformation from "./information/index.astro"
---
<div class="space-y-6">
    <ContactInformation
        title="888.275.4854"
        src="/icons/phone.svg"
        alt=""
        href="tel:8882754854"
        aria_label=""
    />
    <ContactInformation
        title="info@saritasa.com"
        src="/icons/email.svg"
        alt=""
        href="mailto:info@saritasa.com"
        aria_label=""
    />
</div>
