---

// IMPORTS ASTRO COMPONENTS
import ContactInformation from "@/components/common/footer/contact/information/index.astro"

---
<div class="space-y-2 md:space-y-6">
    <ContactInformation
        alternative_text="phone icon"
        aria_label="phone"
        href="tel:8882754854"
        source="/icons/phone.svg"
        title="888.275.4854"
    />
    <ContactInformation
        alternative_text="email icon"
        aria_label="email"
        href="mailto:info@saritasa.com"
        source="/icons/email.svg"
        title="info@saritasa.com"
    />
</div>
