---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

---
<section class="bg-white flex flex-col-reverse md:flex-row md:items-center justify-between gap-2 md:gap-0 py-6">
    <Container>
        <div class="flex md:items-center gap-2 md:gap-4">
            <p class="font-avenir text-[10px] md:text-xs">&copy; { new Date().getFullYear() } Saritasa, LLC. All Rights Reserved</p>
            <p class="font-avenir text-[10px] md:text-xs">|</p>
            <p class="hover:underline font-avenir text-[10px] md:text-xs cursor-pointer">Privacy Policy</p>
        </div>
    </Container>
</section>
