---

// IMPORTS ASTRO COMPONENTS
import IndustriesWeServe from "@/components/home/industries/industries-we-serve/index.astro"

// IMPORTS JSX COMPONENTS
import PlayCeoVideo from "@/components/home/industries/play-ceo-video/index.jsx"

const {

    CDN,
    data,
    industries,
    PROJECT

} = Astro.props

---
<section class="grid md:grid-cols-2 border-t border-saritasa_primary mt-60">
    <section class="flex items-center justify-center bg-zinc-200 bg-no-repeat bg-cover" style=`background-image: url(${ CDN + PROJECT + "/" + data.cover + "?quality=80" })`>
        <div class="bg-white/70 rounded-full p-8 grid md:grid-cols-4 gap-4 w-fit">
            <PlayCeoVideo client:load />
            <div class="md:col-span-3 flex flex-col justify-center">
                <p class="text-saritasa_primary text-4xl font-avenir">{ data.title }</p>
                <p class="text-saritasa_primary text-2xl font-avenir">{ data.description }</p>
            </div>
        </div>
    </section>
    <section>
        <IndustriesWeServe
            data={ industries }
            title={ data.section }
        />
    </section>
</section>
