---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

const {

    alternative_text,
    href,
    source,
    title

} = Astro.props

---
<div class="hover:bg-white hover:shadow-lg hover:shadow-black/20 p-2 rounded">
    <Link href={ href } aria_label="">
        <div class="flex gap-4 items-center">
            <div class="w-12 aspect-square">
                <PictureInternalContain
                    alternative_text={ alternative_text }
                    source={ source }
                />
            </div>
            <h3 class="font-avenir text-2xl">{ title }</h3>
        </div>
    </Link>
</div>
