---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

const {

    alternative_text,
    CDN,
    href,
    PROJECT,
    source,
    title

} = Astro.props

---
<Link href={ href } aria_label={ title }>
    <div class="hover:bg-white p-2 rounded box-shadow">
        <div class="flex gap-4 items-center">
            <div class="w-12 aspect-square">
                <PictureContain
                    alternative_text={ alternative_text }
                    CDN={ CDN }
                    PROJECT={ PROJECT }
                    source={ source }
                />
            </div>
            <h3 class="font-avenir text-xl md:text-2xl">{ title }</h3>
        </div>
    </div>
</Link>
