---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/cdn"

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

const {

    src,
    alt,
    href,
    title

} = Astro.props
---
<div class="hover:bg-white hover:shadow-lg hover:shadow-black/20 p-2 rounded">
    <Link href={ href } aria_label="">
        <div class="flex gap-4 items-center">
            <div class="w-12 aspect-square">
                <img
                    src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
                    alt={ alt }
                    class="w-12 aspect-square"
                />
            </div>
            <h3 class="font-avenir text-2xl">{ title }</h3>
        </div>
    </Link>
</div>
