---
// IMPORTS ASTRO COMPONENTS
import Counter from "./counter/index.jsx"

// IMPORTS ASTRO ATOMS
import ContainPicture from "@/atoms/picture/contain/index.astro"

const {

    title,
    statistics,
    src,
    alt,
    PROJECT,
    CDN_LINK

} = Astro.props
---
<div class="flex flex-col gap-4 justify-center items-center">
    <div class="w-12 aspect-square">
        <ContainPicture
            src={ src }
            alt={ alt }
            image_width="50"
        />
    </div>
    <Counter
        title={ title }
        statistics={ statistics }
        client:load
    />
    <div>
        <p class="text-lg text-saritasa_primary font-avenir font-semibold text-center">{ title }</p>
    </div>
</div>
