---
// IMPORTS ASTRO LAYOUTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

// IMPORTS ASTRO COMPONENTS
import ClientImageItem from "./ClientImageItem.astro"

const { data } = Astro.props

const images = data.images.sort(( a,b ) => a.order - b.order )
---
<section class="before:bg-[url('/background-dark.webp')] before:bg-[length:100px] before:absolute before:w-full before:h-full before:top-0 before:-z-[5]">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-x-10 gap-y-20 p-20">
    {

        images.map( ( value ) => {

            return(
                <ClientImageItem
                    src={ CDN_LINK + value.file + "?quality=" + IMAGE_QUALITY }
                    alt=""
                />
            )

        })

    }
    </div>
</section>