---
// IMPORTS ASTRO COMPONENTS
import Testimonials from "./Testimonials"
import ClientImages from "./ClientImages.astro"
import Highlights from "./Highlights.astro"

const { testimonials, clients, highlights } = Astro.props
---
<section class="relative h-full">
    <section class="grid grid-cols-1 md:grid-cols-3 h-full">
        <Testimonials
            data={ testimonials }
            client:load
        />
        <section class="col-span-2">
            <ClientImages data={ clients } />
        </section>
    </section>
    <Highlights data={ highlights } />
</section>
