---
// IMPORTS ASTRO COMPONENTS
import Testimonials from "./Testimonials"
import ClientImages from "./ClientImages.astro"
import Highlights from "./Highlights.astro"
---
<section class="relative">
    <section class="grid grid-cols-3">
        <Testimonials client:load />
        <section class="col-span-2">
            <ClientImages />
        </section>
    </section>
    <section>
        <Highlights />
    </section>
</section>
