---
// IMPORTS ASTRO COMPONENTS
import Testimonials from "./testimonials"
import ClientsLogo from "./clients-logo/index.astro"
import Highlights from "./highlights/index.astro"

const {

    testimonials,
    clients,
    highlights

} = Astro.props
---
<section class="relative h-full">
    <section class="grid grid-cols-3 h-full">
        <Testimonials
            data={ testimonials }
            client:load
        />
        <section class="col-span-2">
            <ClientsLogo data={ clients } />
        </section>
    </section>
    <Highlights data={ highlights } />
</section>
