---

// IMPORTS ASTRO COMPONENTS
import ClientsLogo from "@/components/home/clients/clients-logo/index.astro"
import Highlights from "@/components/home/clients/highlights/index.astro"

// IMPORTS JSX COMPONENTS
import Testimonials from "@/components/home/clients/testimonials/index.jsx"

// GET ASTRO PROPS
const {

    clients,
    highlights,
    testimonials

} = Astro.props

---
<section class="relative h-full">
    <section class="grid grid-cols-3 h-full">
        <Testimonials
            client:only
            data={ testimonials }
        />
        <section class="col-span-2">
            <ClientsLogo data={ clients } />
        </section>
    </section>
    <Highlights data={ highlights } />
</section>
