---

// IMPORTS ASTRO COMPONENTS
import ClientsLogo from "@/components/home/clients/clients-logo/index.astro"

// IMPORTS JSX COMPONENTS
import Testimonials from "@/components/home/clients/testimonials/index.jsx"

// GET ASTRO PROPS
const {

    CDN,
    clients,
    PROJECT,
    testimonials

} = Astro.props

---
<section class="relative h-full w-fit md:w-full overflow-hidden">
    <section class="grid md:grid-cols-3 h-full w-fit md:w-full">
        <Testimonials
            client:only
            data={ testimonials }
        />
        <section class="md:col-span-2">
            <ClientsLogo
                CDN={ CDN }
                data={ clients }
                PROJECT={ PROJECT }
            />
        </section>
    </section>

</section>
