---

// IMPORTS ASTRO COMPONENTS
import Image from "./image/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

// SORTS THE IMAGES ARRAY
const images = data.images.sort(( a,b ) => a.order - b.order )

---
<section class="before:bg-[url('/background-dark.webp')] before:bg-[length:100px] before:absolute before:w-full before:h-full before:top-0 before:-z-[5]">
    <div class="grid md:grid-cols-3 gap-x-10 gap-y-6 md:gap-y-20 p-20">
    {

        images.map( ( value ) => {

            return(
                <Image
                    alternative_text=""
                    CDN={ CDN }
                    image_width="200"
                    PROJECT={ PROJECT }
                    source={ value.file }
                />
            )

        })

    }
    </div>
</section>