---

// IMPORTS ASTRO COMPONENTS
import Article from "./article/index.astro"

// GET ASTRO PROPS
const { data } = Astro.props

---
<div class="grid grid-cols-2 gap-x-14 gap-y-8 p-16 bg-white rounded-3xl shadow-xl border border-zinc-200">
    {

        data.map( ( value ) => {

            return(
                <Article
                    alternative_text={ value.title }
                    href=""
                    source={ value.cover }
                    title={ value.title }
                />
            )

        })

    }
</div>