---

// IMPORTS ASTRO COMPONENTS
import Article from "@/components/home/in-the-news/all-articles/article/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<div class="grid md:grid-cols-2 gap-x-14 gap-y-8 p-6 md:p-16 bg-white rounded-3xl shadow-xl border border-zinc-200">
    {

        data.map( ( value ) => {

            return(
                <Article
                    alternative_text={ value.title }
                    CDN={ CDN }
                    href={ value.link }
                    PROJECT={ PROJECT }
                    source={ value.cover }
                    title={ value.title }
                />
            )

        })

    }
</div>