---
// IMPORT ASTRO COMPONENTS
import ContactInformationItem from "./ContactInformationItem.astro"
---
<div class="space-y-6">
    <ContactInformationItem
        title="888.275.4854"
        src="/icons/phone.svg"
        alt=""
        href="tel:8882754854"
    />
    <ContactInformationItem
        title="info@saritasa.com"
        src="/icons/email.svg"
        alt=""
        href="mailto:info@saritasa.com"
    />
</div>
