---
const {

    title,
    src,
    alt,
    href

} = Astro.props
---
<div class="flex gap-4 items-center">
    <div class="w-4 aspect-square">
        <img
            src={ src }
            alt={ alt }
            class="w-4 aspect-square"
        />
    </div>
    <a href={ href }>
        <p class="text-white text-xs font-avenir">{ title }</p>
    </a>
</div>
