---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import FooterColumnOne from "./FooterColumnOne.astro"
import FooterColumnTwo from "./FooterColumnTwo.astro"
import FooterColumnThree from "./FooterColumnThree.astro"
import FooterColumnFour from "./FooterColumnFour.astro"
import FooterColumnFive from "./FooterColumnFive.astro"
import CopyrightComponent from "./FooterRowTwo.astro"

import { getCollection } from 'astro:content'

let footer_column_one = await getCollection('footer-column-one')
footer_column_one = footer_column_one.sort((a, b) => a.data.order - b.data.order)
footer_column_one = footer_column_one.filter( ( item ) => item.data.live )

let footer_column_two = await getCollection('footer-column-two')
footer_column_two = footer_column_two.sort((a, b) => a.data.order - b.data.order)
footer_column_two = footer_column_two.filter( ( item ) => item.data.live )

let footer_column_three = await getCollection('footer-column-three')
footer_column_three = footer_column_three.sort((a, b) => a.data.order - b.data.order)
footer_column_three = footer_column_three.filter( ( item ) => item.data.live )

let footer_column_four = await getCollection('footer-column-four')
footer_column_four = footer_column_four.sort((a, b) => a.data.order - b.data.order)
footer_column_four = footer_column_four.filter( ( item ) => item.data.live )

import { frontmatter as footerColumnOne } from "../../../content/footer-titles/title-one.md"
import { frontmatter as footerColumnTwo } from "../../../content/footer-titles/title-two.md"
import { frontmatter as footerColumnThree } from "../../../content/footer-titles/title-three.md"
import { frontmatter as footerColumnFour } from "../../../content/footer-titles/title-four.md"
---
<section class="bg-saritasa_dark_gray py-10">
    <Container>
    <section class="flex flex-col md:flex-row justify-between">
        <section class="grid md:grid-cols-2 gap-4 md:gap-20">
            <FooterColumnOne title={ footerColumnOne.title } data={ footer_column_one } />
            <FooterColumnTwo title={ footerColumnTwo.title } data={ footer_column_two } />
        </section>
        <section class="grid md:grid-cols-2 gap-4 md:gap-20">
            <FooterColumnThree title={ footerColumnThree.title } data={ footer_column_three } />
            <FooterColumnFour title={ footerColumnFour.title } data={ footer_column_four } />
        </section>
        <FooterColumnFive />
    </section>
</Container>