---
// IMPORT ASTRO COMPONENTS
import SocialIcons from "./SocialIcons.astro"
import ContactInformation from "./ContactInformation.astro"
---
<section class="space-y-6">
    <SocialIcons />
    <ContactInformation />
</section>
