---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"
---
<section class="bg-white flex flex-col-reverse md:flex-row md:items-center justify-between gap-2 md:gap-0 py-6">
    <Container>
        <div class="flex flex-row items-center gap-2 md:gap-4">
            <p class="font-avenir text-xs">&copy; { new Date().getFullYear() } Saritasa, LLC. All Rights Reserved</p>
            <p class="font-avenir text-xs">|</p>
            <p class="hover:underline font-avenir text-xs cursor-pointer">Privacy Policy</p>
        </div>
    </Container>
</section>
