---
// IMPORT ASTRO COMPONENTS
import SocialIcon from "./SocialIcon.astro"
---
<div class="flex gap-4">
    <SocialIcon
        src="/icons/facebook.svg"
        alt=""
        href="http://www.facebook.com/SaritasaLLC"
    />
    <SocialIcon
        src="/icons/linkedin.svg"
        alt=""
        href="https://www.linkedin.com/company/saritasa"
    />
    <SocialIcon
        src="/icons/youtube.svg"
        alt=""
        href="https://www.youtube.com/user/SaritasaVideos"
    />
</div>
