---
const { href, src, alt } = Astro.props
---
<div class="border rounded-full p-2">
    <a href={ href } target="_blank">
        <div class="w-6 aspect-square"">
            <img
                src={ src }
                alt={ alt }
                class="w-6 aspect-square"
            />
        </div>
    </a>
</div>
