---
// IMPORT ASTRO ATOMS
import HeadingThreeOrangeCenter from "../../../atoms/heading/ThreeOrangeCenter.astro"
---
<div class="space-y-4">
    <div class="flex items-center gap-2">
        <div class="bg-saritasa_primary h-[1px] w-full"></div>
        <div class="w-60 aspect-square">
            <img
                src="/award.svg"
                alt=""
                class="w-60 aspect-square"
            />
        </div>
        <div class="bg-saritasa_primary h-[1px] w-full"></div>
    </div>
    <div class="px-4">
        <HeadingThreeOrangeCenter>#1 Ranked Development Firm</HeadingThreeOrangeCenter>
    </div>
    <p class="text-saritasa_black font-avenir text-2xl text-center leading-normal">Clutch Leader & Inc. Power Partner for Custom Software Development</p>
    <div class="w-full aspect-[4/1] px-20">
        <img
            src="/clutch-reviews.png"
            alt=""
            class="w-full h-full"
        />
    </div>
</div>
