---
// IMPORT ASTRO ATOMS
import HeadingThreeOrangeCenter from "../../../atoms/heading/ThreeOrangeCenter.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

const { data } = Astro.props
---
<div class="space-y-4">
    <div class="flex items-center gap-2">
        <div class="bg-saritasa_primary h-[1px] w-full"></div>
        <div class="w-60 aspect-square">
            <img
                src="/award.svg"
                alt=""
                class="w-60 aspect-square"
            />
        </div>
        <div class="bg-saritasa_primary h-[1px] w-full"></div>
    </div>
    <div class="px-4">
        <HeadingThreeOrangeCenter>{ data.title }</HeadingThreeOrangeCenter>
    </div>
    <p class="text-saritasa_black font-avenir text-2xl text-center leading-normal">{ data.description }</p>
    <div class="w-full aspect-[4/1] px-20">
        <img
            src={ CDN_LINK + data.cover + "?quality=" + IMAGE_QUALITY }
            alt=""
            class="w-full h-full"
        />
    </div>
</div>
