---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import HeadingTwoCenter from "../../../atoms/heading/TwoCenter.astro"

// IMPORT ASTRO COMPONENTS
import NewsArticles from "./NewsArticles.astro"
import ClutchRanking from "./ClutchRanking.astro"

const { data, news } = Astro.props
---
<Container>
    <section class="space-y-8 py-16">
        <HeadingTwoCenter>{ data.section }</HeadingTwoCenter>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <section>
                <ClutchRanking data={ data } />
            </section>
            <section class="col-span-2">
                <NewsArticles data={ news } />
            </section>
        </section>
    </section>
</Container>
