---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

const {

    src,
    alt,
    href,
    title

} = Astro.props
---
<div class="space-y-2">
    <div class="w-full h-10">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full object-contain object-left"
        />
    </div>
    <div>
        <a href={ href } target="_blank">
            <p class="font-avenir text-lg font-light hover:underline cursor-pointer">{ title }</p>
        </a>
    </div>
</div>
