---
// IMPORT ASTRO COMPONENTS
import NewsArticleItem from "./NewsArticleItem.astro"

const { data } = Astro.props
---
<div class="grid grid-cols-2 gap-x-14 gap-y-8 p-10 bg-white rounded-3xl shadow-xl">
    {

        data.map( ( value ) => {

            return(
                <NewsArticleItem
                    src={ value.cover }
                    alt={ value.title }
                    href=""
                    title={ value.title }
                />
            )

        })

    }
</div>