---
const {

    src,
    alt,
    href,
    title

} = Astro.props
---
<div>
    <div class="w-full h-8">
        <img
            src={ src }
            alt={ alt }
            class="w-full h-full object-contain object-left"
        />
    </div>
    <a href={ href } target="_blank">
        <p class="font-avenir text-lg font-light hover:underline cursor-pointer">{ title }</p>
    </a>
</div>
